.country {
    color: #495057;
    height: 3.6rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
    gap: 1rem;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    overflow: hidden;
    box-shadow: 0 2rem 6rem #0000001a;
}

.country__flag, .country__flag svg {
    width: 4.4rem;
    background-position: 50%;
    background-size: cover;
    border-radius: 3px;
    margin: 0.4rem;
}

.country__name {
    align-self: center;
    font-size: 1.6rem;
}