<button (click)="onClickGet()">Fetch by Asia</button>
<button (click)="onClickGetCode()">Fetch by Code</button>
<button (click)="clickGetImgFlp()">Fetch by Memes</button>

<p *ngIf="loading" > Loading.... </p>


<div *ngFor="let i of images;" style="display:inline;">
   <img [src]="i.url" [alt]="i.name" width="100px" height="100px" >
</div>





<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Population</th>
      <th>Code</th>
      <th>Continent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of countries;">
      <td>{{c.name.official}}</td>
      <td>{{c.population}}</td>
      <td>{{c.cca3}}</td>
      <td>{{c.continents}}</td>
    </tr>
  </tbody>
</table>